# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
d0 = pd.read_csv(r'C:\Users\PRANIL\Downloads\jupiter notebook files pss\proprestine data science practice\mnst_train.csv')

In [3]:
d0.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
d0.shape

(42000, 785)

# Data preprocessing

In [5]:
y = d0['label']

In [6]:
x = d0.drop("label", axis = 1)

In [7]:
print(y.shape)

(42000,)

In [8]:
print(x.shape)    # we have 42000 rows and 784 columns

(42000, 784)

In [9]:
labels = y.head(15000)   # we created chunks of data

In [10]:
data = x.head(15000)

In [11]:
data.shape

(15000, 784)

In [12]:
from sklearn.preprocessing import StandardScaler              # standard scaler to scale data

In [13]:
standardized_data = StandardScaler().fit_transform(data)

In [14]:
print(standardized_data.shape)

(15000, 784)

# PCA  using Sklearn

In [15]:
from sklearn import decomposition

In [16]:
pca = decomposition.PCA()

In [17]:
import numpy as np

In [18]:
sample_data = standardized_data

In [19]:
pca.n_components = 8          # no of pca components 8

In [20]:
pca_data = pca.fit_transform(sample_data)

In [21]:
print(pca_data.shape)

(15000, 8)

In [22]:
import seaborn as sns

In [23]:
pca_data = np.vstack((pca_data.T, labels)).T
#vstack is used to transform data (rows into columns and columns into rows)

In [24]:
pca_data

array([[-5.04356006, -5.55868426,  3.56335593, ...,  4.82114739,
        -4.50566212,  1.        ],
       [19.30527371,  6.19369058,  1.37622149, ..., -3.52939282,
        -0.06429378,  0.        ],
       [-7.67877603, -1.90989857,  2.35419865, ..., -1.05925312,
         1.81822198,  1.        ],
       ...,
       [-1.50726768, -2.14793946,  0.04203383, ..., -5.53954953,
        -3.08579174,  8.        ],
       [-6.53731176,  3.20406254, -2.76388681, ..., -1.02733995,
        -2.67432837,  9.        ],
       [-1.25625129, -6.87897849,  1.61120442, ...,  2.92697752,
         0.68872737,  6.        ]])

In [25]:
pca_df = pd.DataFrame(data = pca_data, columns = ('1st_principal', '2nd_principal','3rd_principal','4th_principal','5th_principal','6th_principal','7th_principal','8th_principal','label'))
# whole data will be converted into 9 columns

# Model Development - Random Forest

In [26]:
pca_df.head()

,1st_principal,2nd_principal,3rd_principal,4th_principal,5th_principal,6th_principal,7th_principal,8th_principal,label
0,-5.043560,-5.558684,3.563356,-1.075056,4.906551,2.150306,4.821147,-4.505662,1.0
1,19.305274,6.193691,1.376221,-2.226023,3.307222,-2.092639,-3.529393,-0.064294,0.0
2,-7.678776,-1.909899,2.354199,2.099318,5.067706,-4.135846,-1.059253,1.818222,1.0
3,-0.464845,5.525778,2.664644,4.372841,2.029741,2.118640,4.445724,-0.683247,4.0
4,26.644289,6.366541,1.003306,-2.747176,9.761705,-2.676306,-5.654349,-2.075332,0.0

In [27]:
x = pca_df[['1st_principal','2nd_principal','3rd_principal','4th_principal','5th_principal','6th_principal','7th_principal','8th_principal']]

In [28]:
x.head()

,1st_principal,2nd_principal,3rd_principal,4th_principal,5th_principal,6th_principal,7th_principal,8th_principal
0,-5.043560,-5.558684,3.563356,-1.075056,4.906551,2.150306,4.821147,-4.505662
1,19.305274,6.193691,1.376221,-2.226023,3.307222,-2.092639,-3.529393,-0.064294
2,-7.678776,-1.909899,2.354199,2.099318,5.067706,-4.135846,-1.059253,1.818222
3,-0.464845,5.525778,2.664644,4.372841,2.029741,2.118640,4.445724,-0.683247
4,26.644289,6.366541,1.003306,-2.747176,9.761705,-2.676306,-5.654349,-2.075332

In [29]:
y = pca_df[['label']]

In [30]:
y.head()

   label
0    1.0
1    0.0
2    1.0
3    4.0
4    0.0

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.3)

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
model = RandomForestClassifier()

In [35]:
model.fit(x_train,y_train)

<ipython-input-35-4719cf73997a>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

RandomForestClassifier()

In [36]:
y_pred = model.predict(x_test)

In [37]:
y_pred

array([9., 4., 6., ..., 0., 3., 2.])

In [38]:
from sklearn import metrics

In [39]:
metrics.accuracy_score(y_test,y_pred) * 100

84.84444444444445